body {
  background-color:black;
  font-family: 'Aldrich', sans-serif;
  font-family: 'Audiowide', cursive;
  font-family: 'Jura', sans-serif;
  text-align: center;
  margin: 0;
}

* {
  box-sizing: border-box; /* responsive 2 */
}

.one {
  border-style: solid white;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  height: 0px;
  width: 43%;
  position: absolute;
  left: 770px;
  top:75px;
}
.two {
  border-style: solid white;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  height: 0px;
  width: 43%;
  position: absolute;
  left: 770px;
  top:155px;
}
.three {
  border-style: solid white;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  height: 0px;
  width: 43%;
  position: absolute;
  left: 770px;
  top:235px;
}
.four {
  border-style: solid white;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  height: 0px;
  width: 43%;
  position: absolute;
  left: 770px;
  top:320px;
}
.five {
  border-style: solid white;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  height: 0px;
  width: 43%;
  position: absolute;
  left: 770px;
  top:395px;
}

h1 {
  margin-top: 29px;
  color: #65d6ce;
  font-family: 'Aldrich', cursive;
  display: inline-block;
  position: absolute;
  left: 70px;
  top: 20px;
}

h2 {
  font-family: 'Aldrich', sans-serif;
}

h3 {
  color: #ff6f3c;
  font-family: 'Aldrich', sans-serif;
}
.top-container {
  background-color: black;
  height: 542px;
  width: 100%;
}
.middle-container {
  background-color: black;
  position: relative;
  height:500px;
  width: 100%;
}

.bottom-container {
  background-color: #cf3030;
  padding: 50px 0 20px;
  width: 100%;
}
.info {
  height: 42px;
  background-color: white;
  position: relative;
}
.orange {
  color: #db6400;
}
.tel {
position: absolute;
right: 60px;
margin-top: 10px;
font-size: 17px;

}
.header-link4 {
  position: absolute;
  right: 225px;
  margin-top: 13px;
}
.header-link3 {
  position: absolute;
  right: 255px;
  margin-top: 13px;
}
.header-link2 {
  position: absolute;
  right: 285px;
  margin-top: 13px;
}
.header-link1 {
  position: absolute;
  right: 315px;
  margin-top: 13px;
}
.find-us {
  position: absolute;
  right: 430px;
  margin-top: 11px;
  font-size: 11px;
  display: inline-block;
}

.find-us2 {
  position: absolute;
  right: 375px;
  margin-top: 13px;
  color: black;
}

a {
  text-decoration: none;
}
.copyright {
  color: #c6fced; /* boja ista kao za a:hover */
  font-size: 0.75rem;
  padding: 20px 0;
  margin-top: 70px;
}
.profile {
  position: relative;
}
.car-gadget {
  position: absolute;
  left: 0;
  width: 50%;
  height: 500px;
}
.four4 {
  margin-top: 0;
  position: absolute;
  left: 770px;
  padding-top: 35px;
  color: white;
  font-size: 130%;
}
.intro {
  color: white;
  margin-top: 0;
}
.form {
  position: absolute;
  left: 770px;
  padding-top: 105px;
  width: 3%;
}
.form-h3 {
  position: absolute;
  left: 830px;
  padding-top: 90px;
  color: white;
}
.form-p {
  position: absolute;
  left: 830px;
  padding-top: 110px;
  color: white;
}
.check {
  position: absolute;
  left: 770px;
  padding-top: 185px;
  width: 3%;
}
.check-h3 {
  position: absolute;
  left: 830px;
  padding-top: 170px;
  color: white;
}
.check-p {
  position: absolute;
  left: 830px;
  padding-top: 190px;
  color: white;
}
.car {
  position: absolute;
  left: 770px;
  padding-top: 260px;
  width: 3%;
}
.car-h3 {
  position: absolute;
  left: 830px;
  padding-top: 250px;
  color: white;
}
.car-p {
  position: absolute;
  left: 830px;
  padding-top: 270px;
  color: white;
}
.key {
  position: absolute;
  left: 770px;
  padding-top: 340px;
  width: 3%;
}
.key-h3 {
  position: absolute;
  left: 830px;
  padding-top: 330px;
  color: white;
}
.key-p {
  position: absolute;
  left: 830px;
  padding-top: 350px;
  color: white;
}
.button {
  position: absolute;
  left: 770px;
  top: 430px;
  background-color: red;
  color: white;
  font-size: 14px;
  padding: 12px;
}
.intro {
  width: 30%; /* 30% of it's parent container-middle container */
  margin: auto;
}

/* DROPDOWN NAVBAR */
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Aldrich;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 13px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 13px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* DROPDOWN NAVBAR */
